<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">

    <ui:define name="head"/>
    <ui:define name="content">
        <div class="ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h5 style="text-align: center">ANA SAYFA</h5>
                        <h1 style="text-align: center">HOŞ GELDİNİZ...</h1>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>