<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
>
    <h3>Back Office</h3>
    <a href="/faces/home.jsf">Yogen Back Office</a>
</ui:composition>