<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">
    <div id="menuDivId" style="width:95%">
        <h:form id="menu-form1">
            <h3 style="margin-top:0">Menu</h3>
            <p:menu id="menuId1" style="width: 100%" toggleable="true">
                <p:submenu label="Yazılım Ekranları" id="submenu1" icon="fa fa-fw fa-bars">
                    <p:menuitem id="menuitemId11" value="Checkout isteği yap" icon="fa fa-fw fa-anchor"
                                outcome="/faces/software/checkout_api_test"/>
                    <p:menuitem id="menuitemId12" value="İşlemleri Listele" icon="fa fa-fw fa-sitemap"
                                outcome="/faces/software/transaction_details"/>
                    <p:menuitem id="menuitemId14" value="Kural Bazlı Filtre Yönetimi" icon="fa fa-cogs"
                                outcome="/faces/software/filter_management"/>
                </p:submenu>
                <p:submenu label="Yazılım Ekranları" id="submenu2" icon="fa fa-fw fa-bars">
                    <p:menuitem id="menuitemId21" value="Checkout isteği yap" icon="fa fa-fw fa-bars"
                                outcome="/faces/software/checkout_api_test"/>
                    <p:menuitem id="menuitemId22" value="İşlemleri Listele" icon="fa fa-fw fa-sitemap"
                                outcome="/faces/software/transaction_details"/>
                    <p:menuitem id="menuitemId24" value="Kural Bazlı Filtre Yönetimi" icon="fa fa-fw fa-umbrella"
                                outcome="/faces/software/filter_management"/>
                </p:submenu>
            </p:menu>
        </h:form>
    </div>
</ui:composition>