<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </f:facet>
    <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/favicon.ico"/>
    <title><ui:insert name="title">Yogen BackOffice</ui:insert></title>
    <ui:insert name="head"/>
</h:head>
<h:body style="font-size:12px">
    <div>
        <div style="border-width: 1px; border-style: solid; height: 10%">
            <ui:include src="header.xhtml"/>
            <div>
                <h:button value="*" onclick="toggle('divMenuId'); return false;"/>
            </div>

        </div>
        <div style="border-width: 1px; border-style: solid; height: 80%">
            <div class="layout-content">
                <div class="ui-g">
                        <div id="divMenuId" class="ui-g-12 ui-md-2" style="border-width: 1px; border-style: solid; display: block">
                            <ui:include src="menu.xhtml"/>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <ui:insert name="content"/>
                        </div>
                </div>
            </div>
        </div>
        <div style="border-width: 1px; border-style: solid; height: 10%">
            <ui:include src="footer.xhtml"/>
        </div>
    </div>
    <script type="text/javascript">
        function toggle(id) {
            var element = document.getElementById(id);
            if (element.style.display == 'block') {
                element.style.display = 'none';
            } else {
                element.style.display = 'block'
            }
        }
    </script>
</h:body>
</html>