<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </f:facet>
    <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/favicon.ico"/>
    <title>Erişim izni yok</title>
</h:head>

<h:body styleClass="exception-body">
    <div class="exception-panel" style="padding: 0">

        <div class="line"></div>

        <h1>Erişim Reddedildi</h1>
        <p>Erişim iznininiz bulunmamaktadır. Giriş yapmak için aşağıdaki butona tıklayınız.</p>
        <p:button value="Giriş yapmak için tıklayınız" outcome="/authentication/login.jsf"/>
    </div>

</h:body>
</html>