.ui-datatable .payment-success td {
    background-color: #D8F9C8;
}

.ui-datatable .payment-error td {
    background-color: #F3BDC8;
}

.ui-datatable .payment-waiting td {
    background-color: #ffff00;
}

.ui-datatable .payment-warning td {
    background-color: #FF9851;
}

.ui-datatable .payment-warning-gray td {
    background-color: #a3a6aa;
}

.login-body .login-panel .logo-container .ipara-logo {
    vertical-align: bottom;
    height: 60px;
}

.ui-datatable td {
    white-space: normal;
    word-wrap: break-word;
}

.ipara-logo {
    text-align: center;
    padding-top: 20px;
}

.g-recaptcha {
    max-width: 100px;
    transform: scale(0.78);
    -webkit-transform: scale(0.78);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.recaptchaDiv {
    max-width: 100px;
    transform: scale(0.78);
    -webkit-transform: scale(0.78);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.pos-passive {
    background-color: gray;
    color: black;
}

.pos-active {
    background-color: green;
    color: black;
}

.pos-default {
    background-color: #adff2f;
    color: black;
}

.pos-passivate-buton span {
    background-color: gray;
    color: black;
}

.pos-activate-buton span {
    background-color: green;
    color: black;
}

.pos-makedefault-buton span {
    background-color: #adff2f;
    color: black;
}

.card h5, .formheader {
    font-weight: bold;
    margin: 0 0 14px 0;
    padding: 14px 0;
    color: #858585;
    border-bottom: 1px solid #efefef;
}

.redText {
    color: red;
    font-weight: bolder;
}

.layout-wrapper.layout-wrapper-menu-active .layout-sidebar {
    width: 320px;
}

.layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents {
    width: 260px;
}

.layout-content a {
    color: black;
    text-decoration: underline;
}

.layout-content a:hover {
    color: black;
    text-decoration: underline;
}