<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml">
    <ui:define name="head"/>
    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <h:form id="criteriaFormId">
                    <p:growl id="msgs1" showDetail="true" />
                    <p:commandButton value="Checkout İsteği Yap" style="max-width: 180px"
                                     actionListener="${checkoutApiTestBean.doCheckoutRequest()}" update=":apiResponseFormId,:criteriaFormId:msgs1">
                    </p:commandButton>
                    <p:panelGrid columns="2" columnClasses="ui-g-12 ui-md-6,ui-g-12 ui-md-6" layout="grid" styleClass="ui-panelgrid-blank form-group form-elements">
                        <p:panel style="border-style: solid;">
                            <p:panel header="Sipariş Bilgileri">
                                <p:panelGrid columns="2" columnClasses="ui-g-12 ui-md-4 ,ui-g-12 ui-md-8" layout="grid" styleClass="ui-panelgrid-blank form-group form-elements">
                                    <p:outputLabel value="Sipariş Numarası"/>
                                    <p:outputLabel value="#{checkoutApiTestBean.checkoutViewDTO.order.orderUID}"/>

                                    <p:outputLabel value="Sipariş Adı"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.name}"/>

                                    <p:outputLabel value="Oluşturulma Tarihi"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.createdAt}"/>

                                    <p:outputLabel value="Güncellenme Tarihi"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.updatedAt}"/>

                                    <p:outputLabel value="Tamamlanma Tarihi"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.closedAt}"/>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel header="Teslimat Bilgileri">
                                <p:panelGrid columns="2" columnClasses="ui-g-12 ui-md-4 ,ui-g-12 ui-md-8" layout="grid" styleClass="ui-panelgrid-blank form-group form-elements">
                                    <p:outputLabel value="Teslimat Numarası"/>
                                    <p:outputLabel value="#{checkoutApiTestBean.checkoutViewDTO.order.shipment.shipmentUID}"/>

                                    <p:outputLabel value="Adı"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.shipment.firstName}"/>

                                    <p:outputLabel value="Soyadı"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.shipment.lastName}"/>

                                    <p:outputLabel value="Vatandaşlık No."/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.shipment.citizenNum}"/>

                                    <p:outputLabel value="Vergi No."/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.shipment.taxNum}"/>

                                    <p:outputLabel value="Kargo Firması"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.shipment.deliveryCompany}"/>

                                    <p:outputLabel value="Adres 1"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.shipment.location.address1}"/>

                                    <p:outputLabel value="Adres 2"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.shipment.location.address1}"/>

                                    <p:outputLabel value="City"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.shipment.location.city}"/>

                                    <p:outputLabel value="State/Province/Region"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.shipment.location.region}"/>

                                    <p:outputLabel value="Country"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.shipment.location.country}"/>

                                    <p:outputLabel value="ZIP/Postal Code"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.shipment.location.postalCode}"/>

                                    <p:outputLabel value="Geohash"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.shipment.location.geohash}"/>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel header="Fatura Bilgileri">
                                <p:panelGrid columns="2" columnClasses="ui-g-12 ui-md-4 ,ui-g-12 ui-md-8" layout="grid" styleClass="ui-panelgrid-blank form-group form-elements">
                                    <p:outputLabel value="Fatura Numarası"/>
                                    <p:outputLabel value="#{checkoutApiTestBean.checkoutViewDTO.order.billing.billingUID}"/>

                                    <p:outputLabel value="Adı"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.billing.firstName}"/>

                                    <p:outputLabel value="Soyadı"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.billing.lastName}"/>

                                    <p:outputLabel value="Vatandaşlık No."/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.billing.citizenNum}"/>

                                    <p:outputLabel value="Vergi No."/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.billing.taxNum}"/>

                                    <p:outputLabel value="Seri No."/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.billing.serialNum}"/>

                                    <p:outputLabel value="Adres 1"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.billing.location.address1}"/>

                                    <p:outputLabel value="Adres 2"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.billing.location.address1}"/>

                                    <p:outputLabel value="City"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.billing.location.city}"/>

                                    <p:outputLabel value="State/Province/Region"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.billing.location.region}"/>

                                    <p:outputLabel value="Country"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.billing.location.country}"/>

                                    <p:outputLabel value="ZIP/Postal Code"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.billing.location.postalCode}"/>

                                    <p:outputLabel value="Geohash"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.billing.location.geohash}"/>
                                </p:panelGrid>
                            </p:panel>
                        </p:panel>
                        <p:panel style="border-style: solid;">
                            <p:panel header="Alıcı Bilgileri">
                                <p:panelGrid columns="2" columnClasses="ui-g-12 ui-md-4 ,ui-g-12 ui-md-8" layout="grid" styleClass="ui-panelgrid-blank form-group form-elements">
                                    <p:outputLabel value="Fatura Numarası"/>
                                    <p:outputLabel value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.purchaserUID}"/>

                                    <p:outputLabel value="Adı"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.firstName}"/>

                                    <p:outputLabel value="Soyadı"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.lastName}"/>

                                    <p:outputLabel value="Mail"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.mail}"/>

                                    <p:outputLabel value="Telefon"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.phone}"/>

                                    <p:outputLabel value="Vatandaşlık Numarası"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.citizenNum}"/>

                                    <p:outputLabel value="Cinsiyet"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.gender}"/>

                                    <p:outputLabel value="Doğum Tarihi"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.dateOfBirth}"/>

                                    <p:outputLabel value="Sosyal Hesap UID"/>
                                    <p:outputLabel value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.socialDetail.socialDetailUID}"/>
                                    <p:outputLabel value="Kullanıcı Adı"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.socialDetail.publicUserName}"/>
                                    <p:outputLabel value="Network Adı"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.socialDetail.network}"/>
                                    <p:outputLabel value="Email"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.socialDetail.mail}"/>
                                    <p:outputLabel value="Hesap URL"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.socialDetail.accountUrl}"/>
                                    <p:outputLabel value="Hesap Bio"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.socialDetail.bio}"/>
                                    <p:outputLabel value="Community Score"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.socialDetail.communityScore}"/>
                                    <p:outputLabel value="Takip Edilen Sayısı"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.socialDetail.following}"/>
                                    <p:outputLabel value="Takipçi Sayısı"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.socialDetail.followed}"/>
                                    <p:outputLabel value="Attığı Post Sayısı"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.purchaser.socialDetail.postCount}"/>


                                </p:panelGrid>
                            </p:panel>
                            <p:panel header="Ödeme Bilgileri">
                                <p:panelGrid columns="2" columnClasses="ui-g-12 ui-md-4 ,ui-g-12 ui-md-8" layout="grid" styleClass="ui-panelgrid-blank form-group form-elements">
                                    <p:outputLabel value="Ödeme Numarası"/>
                                    <p:outputLabel value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.paymentDetailUID}"/>

                                    <p:outputLabel value="Ödeme Tipi"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.type}"/>

                                    <p:outputLabel value="Taksit Sayısı"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.installment}"/>

                                    <p:outputLabel value="Toplam Tutar"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.totalPrice}"/>

                                    <p:outputLabel value="Ödenen Toplam Tutar"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.totalPaidPrice}"/>

                                    <p:outputLabel value="Para Birimi"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.currency}"/>

                                    <p:outputLabel value="Bin Num"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.creditCardBin}"/>

                                    <p:outputLabel value="Son Dört Hane"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.creditCardLastFourDigit}"/>

                                    <p:outputLabel value="Kart Şirketi"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.creditCardCompany}"/>

                                    <p:outputLabel value="3D Ödemesi mi?"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.isThreeD}"/>

                                    <p:outputLabel value="3D Başarılı Mı?"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.threeDInquiryResult}"/>

                                    <p:outputLabel value="ECI Kodu"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.eciCode}"/>

                                    <p:outputLabel value="CAVV Kodu"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.cavvCode}"/>

                                    <p:outputLabel value="md Durumu"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.mdStatus}"/>

                                    <p:outputLabel value="AVS Sonucu Kodu"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.avsResultCode}"/>

                                    <p:outputLabel value="CVV Sonucu Kodu"/>
                                    <p:inputText value="#{checkoutApiTestBean.checkoutViewDTO.order.paymentDetail.cvvResultCode}"/>

                                </p:panelGrid>
                            </p:panel>
                        </p:panel>
                    </p:panelGrid>
                    <p:panel header="Ürün Bilgileri">
                        <p:dataTable id="itemsDataTableId" var="item" value="#{checkoutApiTestBean.checkoutViewDTO.order.items}" reflow="true" emptyMessage="Kayıt Bulunamadı!" paginator="true" rows="10">
                            <f:facet name="header">
                                <p:outputLabel value="Siparişe Ait Ürünler"/>
                                <br/>
                                <br/>
                                <p:commandButton
                                        value="Yeni Ürün Oluştur" actionListener="#{checkoutApiTestBean.initializeNewItemViewDTO}" oncomplete="PF('createItemDialog').show();" update=":createItemFormId"
                                        style="max-width: 200px;"/>
                            </f:facet>
                            <p:column style="width: 3%;" exportable="false">
                                <p:rowToggler/>
                            </p:column>
                            <p:column headerText="Ürün Numarası">
                                <p:outputLabel value="#{item.itemUID}"/>
                            </p:column>
                            <p:column headerText="Marka">
                                <p:outputLabel value="#{item.brand}"/>
                            </p:column>
                            <p:column headerText="Üretici Firma">
                                <p:outputLabel value="#{item.manufacturer}"/>
                            </p:column>
                            <p:column headerText="Tutarı">
                                <p:outputLabel value="#{item.price}"/>
                            </p:column>
                            <p:column headerText="Açıklama">
                                <p:outputLabel value="#{item.title}"/>
                            </p:column>
                            <p:column headerText="Adet">
                                <p:outputLabel value="#{item.quantity}"/>
                            </p:column>
                            <p:column headerText="İşlemler">
                                <p:commandButton icon="ui-button-icon-left ui-icon ui-c fa fa-fw fa-remove" style="max-width: 80px"
                                                 actionListener="${checkoutApiTestBean.deleteItem(item.index)}" update=":criteriaFormId:itemsDataTableId,:criteriaFormId:msgs1">
                                    <p:confirm header="Ürün Sil" message="Ürün silme işlemi geri alınamaz. Onaylıyor musunuz?" icon="ui-icon-alert"/>
                                </p:commandButton>
                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                    <p:commandButton value="Evet" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                                    <p:commandButton value="Hayır" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                                </p:confirmDialog>
                                <p:commandButton icon="ui-button-icon-left ui-icon ui-c fa fa-fw fa-edit" style="max-width: 80px"
                                                 oncomplete="PF('updateItemDialog').show();"
                                                 actionListener="${checkoutApiTestBean.initializeUpdateItem(item.index)}" update=":updateItemFormId">
                                </p:commandButton>
                            </p:column>
                            <p:rowExpansion>
                                <p:panelGrid columns="2" columnClasses="ui-g-12 ui-md-12" layout="grid" styleClass="ui-panelgrid-blank form-group form-elements">
                                    <p:panel header="Satıcı Bilgileri">
                                        <p:panelGrid columns="4" columnClasses="ui-g-12 ui-md-2,ui-g-12 ui-md-4,ui-g-12 ui-md-2,ui-g-12 ui-md-4" layout="grid" styleClass="ui-panelgrid-blank form-group form-elements">
                                            <p:outputLabel value="Adı"/>
                                            <p:outputLabel value="#{item.seller.name}"/>
                                            <p:outputLabel value="Numarası"/>
                                            <p:outputLabel value="#{item.seller.sellerUID}"/>
                                            <p:outputLabel value="Adres1"/>
                                            <p:outputLabel value="#{item.seller.location.address1}"/>
                                            <p:outputLabel value="Adres2"/>
                                            <p:outputLabel value="#{item.seller.location.address2}"/>
                                            <p:outputLabel value="Şehir"/>
                                            <p:outputLabel value="#{item.seller.location.city}"/>
                                            <p:outputLabel value="İlçe"/>
                                            <p:outputLabel value="#{item.seller.location.region}"/>
                                            <p:outputLabel value="Ülke"/>
                                            <p:outputLabel value="#{item.seller.location.country}"/>
                                            <p:outputLabel value="Posta Kodu"/>
                                            <p:outputLabel value="#{item.seller.location.postalCode}"/>
                                            <p:outputLabel value="Adres Geogash"/>
                                            <p:outputLabel value="#{item.seller.location.geohash}"/>
                                        </p:panelGrid>
                                    </p:panel>
                                </p:panelGrid>
                            </p:rowExpansion>
                        </p:dataTable>
                    </p:panel>
                </h:form>
                <h:form id="createItemFormId">
                    <p:dialog header="Yeni Ürün Oluştur" style="max-width: 40%" widgetVar="createItemDialog" responsive="true" closeOnEscape="true" modal="true">
                        <p:panelGrid columns="2" cellpadding="4" style="width: 100%">
                            <f:facet name="header">
                                <p:outputLabel value="Ürün Bilgileri"/>
                            </f:facet>
                            <p:outputLabel value="Ürün Numarası"/>
                            <p:outputLabel value="#{checkoutApiTestBean.newItemViewDTO.itemUID}"/>
                            <p:outputLabel value="Marka"/>
                            <p:inputText value="#{checkoutApiTestBean.newItemViewDTO.brand}"/>
                            <p:outputLabel value="Üretici Firma"/>
                            <p:inputText value="#{checkoutApiTestBean.newItemViewDTO.manufacturer}"/>
                            <p:outputLabel value="Tutarı"/>
                            <p:inputText value="#{checkoutApiTestBean.newItemViewDTO.price}"/>
                            <p:outputLabel value="Açıklama"/>
                            <p:inputText value="#{checkoutApiTestBean.newItemViewDTO.title}"/>
                            <p:outputLabel value="Adet"/>
                            <p:inputText value="#{checkoutApiTestBean.newItemViewDTO.quantity}"/>

                            <h3>Ürün Satıcı Bigileri</h3><p:outputLabel value=""/>

                            <p:outputLabel value="Satıcı Numarası"/>
                            <p:outputLabel value="#{checkoutApiTestBean.newItemViewDTO.seller.sellerUID}"/>
                            <p:outputLabel value="Adı"/>
                            <p:inputText value="#{checkoutApiTestBean.newItemViewDTO.seller.name}"/>
                            <p:outputLabel value="Adres1"/>
                            <p:inputText value="#{checkoutApiTestBean.newItemViewDTO.seller.location.address1}"/>
                            <p:outputLabel value="Adres2"/>
                            <p:inputText value="#{checkoutApiTestBean.newItemViewDTO.seller.location.address2}"/>
                            <p:outputLabel value="Şehir"/>
                            <p:inputText value="#{checkoutApiTestBean.newItemViewDTO.seller.location.city}"/>
                            <p:outputLabel value="State/Province/Region"/>
                            <p:inputText value="#{checkoutApiTestBean.newItemViewDTO.seller.location.region}"/>
                            <p:outputLabel value="Country"/>
                            <p:inputText value="#{checkoutApiTestBean.newItemViewDTO.seller.location.country}"/>
                            <p:outputLabel value="ZIP/Postal Code"/>
                            <p:inputText value="#{checkoutApiTestBean.newItemViewDTO.seller.location.postalCode}"/>
                            <p:outputLabel value="Adres Geohash"/>
                            <p:inputText value="#{checkoutApiTestBean.newItemViewDTO.seller.location.geohash}"/>
                            <f:facet name="footer">
                                <div style="text-align: center;">
                                    <p:commandButton value="Kaydet" style="max-width: 100px;" actionListener="#{checkoutApiTestBean.createItem}" update=":criteriaFormId:itemsDataTableId" oncomplete="{PF('createItemDialog').hide();}"/>
                                    <p:commandButton value="İptal" style="max-width: 100px;margin-left: 10px" oncomplete="PF('createItemDialog').hide();"/>
                                </div>
                            </f:facet>
                        </p:panelGrid>
                    </p:dialog>
                </h:form>


                <h:form id="updateItemFormId">
                    <p:dialog header="Ürün Güncelleştir" style="max-width: 40%" widgetVar="updateItemDialog" responsive="true" closeOnEscape="true" modal="true">
                        <p:panelGrid columns="2" cellpadding="4" style="width: 100%">
                            <f:facet name="header">
                                <p:outputLabel value="Ürün Bilgileri"/>
                            </f:facet>
                            <p:outputLabel value="Ürün Numarası"/>
                            <p:inputText value="#{checkoutApiTestBean.updateItemViewDTO.itemUID}"/>
                            <p:outputLabel value="Marka"/>
                            <p:inputText value="#{checkoutApiTestBean.updateItemViewDTO.brand}"/>
                            <p:outputLabel value="Üretici Firma"/>
                            <p:inputText value="#{checkoutApiTestBean.updateItemViewDTO.manufacturer}"/>
                            <p:outputLabel value="Tutarı"/>
                            <p:inputText value="#{checkoutApiTestBean.updateItemViewDTO.price}"/>
                            <p:outputLabel value="Açıklama"/>
                            <p:inputText value="#{checkoutApiTestBean.updateItemViewDTO.title}"/>
                            <p:outputLabel value="Adet"/>
                            <p:inputText value="#{checkoutApiTestBean.updateItemViewDTO.quantity}"/>

                            <h3>Ürün Satıcı Bigileri</h3><p:outputLabel value=""/>

                            <p:outputLabel value="Satıcı Numarası"/>
                            <p:outputLabel value="#{checkoutApiTestBean.updateItemViewDTO.seller.sellerUID}"/>
                            <p:outputLabel value="Adı"/>
                            <p:inputText value="#{checkoutApiTestBean.updateItemViewDTO.seller.name}"/>
                            <p:outputLabel value="Address1"/>
                            <p:inputText value="#{checkoutApiTestBean.updateItemViewDTO.seller.location.address1}"/>
                            <p:outputLabel value="Address2"/>
                            <p:inputText value="#{checkoutApiTestBean.updateItemViewDTO.seller.location.address2}"/>
                            <p:outputLabel value="City"/>
                            <p:inputText value="#{checkoutApiTestBean.updateItemViewDTO.seller.location.city}"/>
                            <p:outputLabel value="State/Province/Region"/>
                            <p:inputText value="#{checkoutApiTestBean.updateItemViewDTO.seller.location.region}"/>
                            <p:outputLabel value="Country"/>
                            <p:inputText value="#{checkoutApiTestBean.updateItemViewDTO.seller.location.country}"/>
                            <p:outputLabel value="ZIP/Postal Code"/>
                            <p:inputText value="#{checkoutApiTestBean.updateItemViewDTO.seller.location.postalCode}"/>
                            <p:outputLabel value="Address Geohash"/>
                            <p:inputText value="#{checkoutApiTestBean.updateItemViewDTO.seller.location.geohash}"/>
                            <f:facet name="footer">
                                <div style="text-align: center;">
                                    <p:commandButton value="Güncelle" style="max-width: 100px;" actionListener="#{checkoutApiTestBean.updateItem(checkoutApiTestBean.updateItemViewDTO.index)}" update=":criteriaFormId:itemsDataTableId" oncomplete="{PF('updateItemDialog').hide();}"/>
                                    <p:commandButton value="İptal" style="max-width: 100px;margin-left: 10px" oncomplete="PF('updateItemDialog').hide();"/>
                                </div>
                            </f:facet>
                        </p:panelGrid>
                    </p:dialog>
                </h:form>

                <h:form id="apiResponseFormId">
                    <p:dialog header="Cevap Bilgisi" style="max-width: 70%" widgetVar="apiResponseDialog" responsive="true" closeOnEscape="true" modal="true">
                        <p:panelGrid columns="2">
                            <f:facet name="header">
                                <p:outputLabel value="Cevap Bilgisi"/>
                            </f:facet>
                            <p:outputLabel value="Sipariş Numarası "/>
                            <p:outputLabel value="#{checkoutApiTestBean.responseViewDTO.orderUID}"/>
                            <p:outputLabel value="Yogen İşlem Numarası"/>
                            <p:outputLabel value="#{checkoutApiTestBean.responseViewDTO.transactionUID}"/>
                            <p:outputLabel value="Fraud Kararı"/>
                            <p:outputLabel value="#{checkoutApiTestBean.responseViewDTO.fraudDecisionResultString}"/>
                            <p:outputLabel value="Fraud Kararı Açıklama"/>
                            <p:outputLabel value="#{checkoutApiTestBean.responseViewDTO.fraudDecisionNotes}"/>
                            <f:facet name="footer">
                                <div style="text-align: center;">
                                    <p:commandButton value="Tamam" style="max-width: 100px;margin-left: 10px" oncomplete="PF('apiResponseDialog').hide();"/>
                                </div>
                            </f:facet>
                        </p:panelGrid>
                    </p:dialog>
                </h:form>
            </div>
        </div>

    </ui:define>
</ui:composition>