<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml">
    <ui:define name="head">
        <style>
            .ui-picklist .ui-picklist-list {
                height: 300px;
            }
        </style>
    </ui:define>
    <ui:define name="content">
        <h:form id="systemRuleFormId">
            <p:growl id="msgs" showDetail="true" escape="false"/>
            <p:panelGrid columns="3" columnClasses="ui-g-12 ui-md-2,ui-g-12 ui-md-2,ui-g-12 ui-md-8" layout="grid"
                         styleClass="ui-panelgrid-blank form-group form-elements">
                <p:outputLabel value="Mağaza Risk Skor Limiti : "/>
                <p:outputLabel value="#{filterManagementBean.integratorRiskScoreLimit}"/>
                <p:outputLabel value=""/>
            </p:panelGrid>

            <p:panel id="panelFilterId" header="Mağazaya Tanımlı Kural Bilgileri" style="width: 100%;">
                <p:pickList id="pickListId" value="#{filterManagementBean.rulesDualList}" var="rule"
                            itemValue="#{rule}"
                            showSourceControls="true" showTargetControls="true" showCheckbox="true"
                            showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
                            converter="#{ruleLabelConverter}"
                            responsive="true">
                    <f:facet name="sourceCaption">Sistemdeki Filtreler</f:facet>
                    <f:facet name="targetCaption">Tanımlı Filtreler</f:facet>

                    <p:column style="width:10%;">
                        <h:outputText value="#{rule.systemRuleCode} - "/>
                    </p:column>

                    <p:column style="width:90%;">
                        <h:outputText value="#{rule.description}"/>
                    </p:column>
                </p:pickList>
            </p:panel>
            <p:commandButton id="ruleSubmitButton" value="Kuralların Değerlerini Belirle"
                             update=":systemRuleFormId:dialogDefinedRulesId"
                             oncomplete="PF('dialogDefinedRules').show()" style="margin-top:5px"/>


            <p:dialog id="dialogDefinedRulesId" header="Tanımlanan Kurallar" modal="true" showEffect="fade"
                      resizable="false" closeOnEscape="true"
                      hideEffect="fade" widgetVar="dialogDefinedRules" responsive="true" width="80%" position="top"
                      style="margin-top: 50px">
                <p:panel id="displayRulesPanelId" style="width: 100%">

                    <p:dataTable id="sourceTargetDataTableId"
                                 var="targetrule" value="#{filterManagementBean.rulesDualList.target}" rows="10"
                                 reflow="true"
                                 editable="true" editMode="cell"
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15">

                        <p:column headerText="Kural Kodu" sortBy="#{targetrule.systemRuleCode}" width="5">
                            <h:outputText value="#{targetrule.systemRuleCode}"/>
                        </p:column>

                        <p:column headerText="Kural Adı" width="60">
                            <h:outputText value="#{targetrule.description}"/>
                        </p:column>

                        <p:column headerText="Kural Periodu" width="5">
                            <p:selectOneMenu id="timePeriodSelectOneMenuId" value="#{targetrule.timePeriod}"
                                             disabled="#{targetrule.type.value == 1}"
                                             style="width:80%">
                                <f:selectItem itemLabel="Seçiniz" itemValue=""/>
                                <f:selectItems value="#{filterManagementBean.timePeriods}"/>
                            </p:selectOneMenu>
                        </p:column>

                        <p:column headerText="Kural Geçerlilik Süresi" width="5">
                            <p:cellEditor disabled="#{targetrule.type.value == 1}">
                                <f:facet name="output"><h:outputText value="#{targetrule.timeBound}"/></f:facet>
                                <f:facet name="input"><p:inputText value="#{targetrule.timeBound}" style="width:90%"
                                                                   label="timeBound"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Kural Limiti" width="5">
                            <p:cellEditor disabled="#{targetrule.type.value == 1}">
                                <f:facet name="output"><h:outputText value="#{targetrule.limit}"/></f:facet>
                                <f:facet name="input"><p:inputText value="#{targetrule.limit}" style="width:90%"
                                                                   label="limit"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Kural Değeri" width="10">
                            <p:cellEditor disabled="#{targetrule.type.value == 2 || targetrule.type.value == 3}">
                                <f:facet name="output"><h:outputText value="#{targetrule.value}"/></f:facet>
                                <f:facet name="input"><p:inputText value="#{targetrule.value}" style="width:90%"
                                                                   label="limitValue"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Kural Risk Sokoru" width="10">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{targetrule.riskScore}"/></f:facet>
                                <f:facet name="input"><p:inputText value="#{targetrule.riskScore}" style="width:90%"
                                                                   label="riskScore"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                    </p:dataTable>
                    <p:commandButton id="sendDefinedRules" value="Kaydet"
                                     update=":systemRuleFormId:dialogDefinedRulesId,:systemRuleFormId:panelFilterId,:definedRuleFormlId:definedRulesPanelId,:systemRuleFormId:msgs"
                                     actionListener="${filterManagementBean.saveDefinedRules}"
                                     oncomplete="PF('dialogDefinedRules').hide()" style="margin-top:5px"/>
                </p:panel>
            </p:dialog>
        </h:form>
        <h:form id="definedRuleFormlId">
            <p:panel id="definedRulesPanelId" style="width: 100%" header="Tanımlanan Kurallar">
                <p:dataTable id="datatableDefinedRulesId" var="definedrule" value="#{filterManagementBean.definedRules}"
                             rows="10" reflow="true" emptyMessage="Kayıt Bulunamadı!"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">
                        <p:outputLabel value="Kurallara Ait Bilgiler"/>
                    </f:facet>
                    <p:column headerText="Kural Kodu" width="5">
                        <h:outputText value="#{definedrule.systemRuleCode}"/>
                    </p:column>

                    <p:column headerText="Kural Adı" width="60">
                        <h:outputText value="#{definedrule.description}"/>
                    </p:column>

                    <p:column headerText="Kural Periodu" width="5">
                        <h:outputText value="#{definedrule.timePeriod.text}"/>
                    </p:column>

                    <p:column headerText="Kural Geçerlilik Süresi" width="5">
                        <h:outputText value="#{definedrule.timeBound}"/>
                    </p:column>
                    <p:column headerText="Kural Limiti" width="5">
                        <h:outputText value="#{definedrule.limit}"/>
                    </p:column>
                    <p:column headerText="Kural Değeri" width="10">
                        <h:outputText value="#{definedrule.value}"/>
                    </p:column>
                    <p:column headerText="Kural Risk Skoru" width="5">
                        <h:outputText value="#{definedrule.riskScore}"/>
                    </p:column>
                    <p:column headerText="İşlemler" width="5">
                        <p:commandButton icon="ui-button-icon-left ui-icon ui-c fa fa-fw fa-remove"
                                         style="max-width: 80px"
                                         actionListener="${filterManagementBean.deleteDefinedRule(definedrule.systemRuleCode)}"
                                         update=":definedRuleFormlId:definedRulesPanelId,:systemRuleFormId:msgs, :systemRuleFormId:panelFilterId">
                            <p:confirm header="Ürün Sil" message="Kural silme işlemi geri alınamaz. Onaylıyor musunuz?"
                                       icon="ui-icon-alert"/>
                        </p:commandButton>
                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Evet" type="button" styleClass="ui-confirmdialog-yes"
                                             icon="ui-icon-check"/>
                            <p:commandButton value="Hayır" type="button" styleClass="ui-confirmdialog-no"
                                             icon="ui-icon-close"/>
                        </p:confirmDialog>
                        <p:commandButton icon="ui-button-icon-left ui-icon ui-c fa fa-fw fa-edit"
                                         style="max-width: 80px"
                                         oncomplete="PF('updateRuleDialog').show();"
                                         actionListener="${filterManagementBean.initializeUpdateRule(definedrule.systemRuleCode)}"
                                         update=":updateRuleFormId:dialogUpdateRuleId">
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </p:panel>

        </h:form>
        <h:form id="updateRuleFormId">
            <p:dialog id="dialogUpdateRuleId" header="Tanımlanan Kurallar" widgetVar="updateRuleDialog"
                      modal="true" resizable="false" hideEffect="fade" responsive="true"
                      width="80%" position="top" closeOnEscape="true" style="margin-top: 50px">
                <p:panelGrid columns="2" cellpadding="4" style="width: 100%">
                    <f:facet name="header">
                        <p:outputLabel value="Kural Bilgileri"/>
                    </f:facet>
                    <p:outputLabel value="Kural Kodu"/>
                    <p:outputLabel value="#{filterManagementBean.updateDefinedRuleViewDTO.systemRuleCode}"/>
                    <p:outputLabel value="Adı"/>
                    <p:outputLabel value="#{filterManagementBean.updateDefinedRuleViewDTO.description}"/>
                    <p:outputLabel value="Periyodu"/>
                    <p:selectOneMenu id="timePeriodUpdateSelectOneMenuId"
                                     disabled="#{filterManagementBean.updateDefinedRuleViewDTO.type.value == 1}"
                                     value="#{filterManagementBean.updateDefinedRuleViewDTO.timePeriod}"
                                     style="width:80%">
                        <f:selectItem itemLabel="Seçiniz" itemValue=""/>
                        <f:selectItems value="#{filterManagementBean.timePeriods}"/>
                    </p:selectOneMenu>
                    <p:outputLabel value="Geçerlilik Süresi"/>
                    <p:inputText value="#{filterManagementBean.updateDefinedRuleViewDTO.timeBound}"
                                 disabled="#{filterManagementBean.updateDefinedRuleViewDTO.type.value == 1}"/>
                    <p:outputLabel value="Limit"/>
                    <p:inputText value="#{filterManagementBean.updateDefinedRuleViewDTO.limit}"
                                 disabled="#{filterManagementBean.updateDefinedRuleViewDTO.type.value == 1}"/>
                    <p:outputLabel value="Değer"/>
                    <p:inputText value="#{filterManagementBean.updateDefinedRuleViewDTO.value}"
                                 disabled="#{filterManagementBean.updateDefinedRuleViewDTO.type.value == 2 || filterManagementBean.updateDefinedRuleViewDTO.type.value == 3}"/>
                    <p:outputLabel value="Risk Skoru"/>
                    <p:inputText value="#{filterManagementBean.updateDefinedRuleViewDTO.riskScore}"/>
                    <f:facet name="footer">
                        <div style="text-align: center;">
                            <p:commandButton value="Güncelle" style="max-width: 100px;"
                                             actionListener="#{filterManagementBean.updateDefinedRule}"
                                             update=":definedRuleFormlId:definedRulesPanelId"
                                             oncomplete="{PF('updateRuleDialog').hide();}"/>
                            <p:commandButton value="İptal" style="max-width: 100px;margin-left: 10px"
                                             oncomplete="PF('updateRuleDialog').hide();"/>
                        </div>
                    </f:facet>
                </p:panelGrid>
            </p:dialog>
        </h:form>
    </ui:define>
</ui:composition>
