<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml">
    <ui:define name="head"/>
    <ui:define name="content">
        <div class="ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12">
                    <h:form id="transctionDetailsFormId">
                        <p:growl id="msgs1" showDetail="true"/>
                        <p:commandButton value="İşlemleri Getir" style="max-width: 180px"
                                         actionListener="${transactionDetailsBean.listTransactions}" update=":transctionDetailsFormId,:transctionDetailsFormId:msgs1">
                        </p:commandButton>
                        <p:panel header="Sipariş Bilgileri">
                            <p:dataTable id="transactionDetailssDataTableId" var="trx" value="#{transactionDetailsBean.transactionDetailViewDTOs}" reflow="true" emptyMessage="Kayıt Bulunamadı!" paginator="true" rows="10">
                                <f:facet name="header">
                                    <p:outputLabel value="İşlem Bilgileri Bilgileri"/>
                                    <br/>
                                    <br/>
                                </f:facet>
                                <p:column style="width: 3%;" exportable="false">
                                    <p:rowToggler/>
                                </p:column>
                                <p:column headerText="Entegrator ID">
                                    <p:outputLabel value="#{trx.integratorId}"/>
                                </p:column>
                                <p:column headerText="İşlem Zamanı">
                                    <p:outputLabel value="#{trx.transactionDate}" converter="#{timestampLabelConverter}"/>
                                </p:column>
                                <p:column headerText="İşlem No">
                                    <p:outputLabel value="#{trx.transactionNo}"/>
                                </p:column>
                                <p:column headerText="Ip Adresi">
                                    <p:outputLabel value="#{trx.deviceIp}"/>
                                </p:column>
                                <p:column headerText="Sipariş No">
                                    <p:outputLabel value="#{trx.orderNo}"/>
                                </p:column>
                                <p:column headerText="Sipariş Adı">
                                    <p:outputLabel value="#{trx.orderName}"/>
                                </p:column>
                                <p:column headerText="Alıcı No">
                                    <p:outputLabel value="#{trx.purchaserNo}"/>
                                </p:column>
                                <p:column headerText="Alıcı Adı">
                                    <p:outputLabel value="#{trx.purchaserName}"/>
                                </p:column>
                                <p:column headerText="Toplam Tutar">
                                    <p:outputLabel value="#{trx.totalPaidPrice}"/>
                                </p:column>
                                <p:column headerText="Ödenen Tutar">
                                    <p:outputLabel value="#{trx.totalPaidPrice}"/>
                                </p:column>
                                <p:column headerText="Ödeme Adı">
                                    <p:outputLabel value="#{trx.paymentNo}"/>
                                </p:column>
                                <p:column headerText="Kart Numarası">
                                    <p:outputLabel value="#{trx.cardNo}"/>
                                </p:column>
                                <p:column headerText="Bin no">
                                    <p:outputLabel value="#{trx.binNo}"/>
                                </p:column>
                                <p:column headerText="Teslimat No">
                                    <p:outputLabel value="#{trx.shipmentNo}"/>
                                </p:column>
                                <p:column headerText="Teslimat VergiNo">
                                    <p:outputLabel value="#{trx.shipmentTaxNo}"/>
                                </p:column>
                                <p:column headerText="Fatura No">
                                    <p:outputLabel value="#{trx.billingNo}"/>
                                </p:column>
                                <p:column headerText="Fatura Seri No">
                                    <p:outputLabel value="#{trx.billingSeriNo}"/>
                                </p:column>

                                <p:rowExpansion>
                                    <p:panelGrid columns="2" columnClasses="ui-g-12 ui-md-12" layout="grid" styleClass="ui-panelgrid-blank form-group form-elements">
                                        <p:panel header="Sipariş Bilgileri">
                                            <p:dataTable id="transactionItemsDataTableId" var="item" value="#{trx.items}" reflow="true" emptyMessage="Kayıt Bulunamadı!" rows="10">
                                                <f:facet name="header">
                                                    <p:outputLabel value="Siparişe Ait Bilgileri"/>
                                                    <br/>
                                                    <br/>
                                                </f:facet>
                                                <p:column headerText="Ürün Tipi">
                                                    <p:outputLabel value="#{item.itemNo}"/>
                                                </p:column>
                                                <p:column headerText="Ürün Fiyatı">
                                                    <p:outputLabel value="#{item.itemPaidPrice}"/>
                                                </p:column>
                                            </p:dataTable>
                                        </p:panel>
                                    </p:panelGrid>
                                </p:rowExpansion>
                            </p:dataTable>
                        </p:panel>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>